<!-- partials/body-shell-unauth.hbs -->
<body>
    <div class="container-sm mt-3" style="padding-left: 7px;padding-right: 7px;">
        {{> partials/nav-unauth}}
        <div id="mainContent">
            {{> @partial-block}}
        </div>
        {{> partials/footer}}
    </div>
</body>
<!-- /partials/body-shell-unauth.hbs -->
