<!-- partials/footer.hbs -->
<footer class="d-flex justify-content-center mt-5">
    <a id="github"
       class="link-secondary"
       href="https://github.com/georgernstgraf/watchtracker/issues">Create an Issue on Github</a>

</footer>
<!-- /partials/footer.hbs -->
