<!-- partials/nav-unauth.hbs -->
<nav id="navBar" class="mb-3">
    <div class="d-flex flex-column flex-sm-row justify-content-between align-items-center">
        <h1 class="mb-2 mb-sm-0">Watchtracker</h1>
    </div>
</nav>
<!-- /partials/nav-unauth.hbs -->
