  <div id="allButHeadAndFoot">
      <%- include('userwatches') %>
      <% if (typeof watch !== 'undefined' && watch != null) { %>
      <div id="measurements">
          <%- include('measurements') %>
      </div>
      <% } %>
  </div>