<div id="allButHeadAndFoot">
    {{#if (or (not watch) (not userWatches) (eq userWatches.length 0))}}
    <form hx-post="{{appPath}}/auth/watch/" hx-trigger='keyup[key=="Enter"]' hx-target="#allButHeadAndFoot" hx-swap="outerHTML">
        <input type="text" name="name" value="" placeholder="Name of your Watch to track">
        <input type="text" name="comment" value="" placeholder="enter a Comment">
    </form>
    {{else}}
    {{> userwatches}}
    {{/if}}
    <div id="measurements">
        {{#if watch}}
        {{> measurements}}
        {{/if}}
    </div>
</div>