  <div id="allButHeadAndFoot">
      <%- include('userwatches') %>
      <div id="measurements">
          <% if (typeof watch !== 'undefined' && watch != null) { %>
          <%- include('measurements') %>
          <% } %>
      </div>
  </div>