<!-- #allButHeadAndFoot.hbs -->
<div id="allButHeadAndFoot">
    {{> userwatches}}
    <div id="measurements">
        {{#if watch}}
        {{> measurements}}
        {{/if}}
    </div>
</div>
<!-- /allButHeadAndFoot.hbs -->