<!-- #allButHeadAndFoot.hbs -->
<div id="allButHeadAndFoot">
    {{> userwatches}}
    <div id="measurements"
         class="border border-2 px-1 rounded">
        {{#if watch}}
        {{> measurements}}
        {{/if}}
    </div>
</div>
<!-- /allButHeadAndFoot.hbs -->