<!-- #auth-body.hbs -->

<body>
    <div class="container mt-3">
        {{> navProfile}}
        <h1>Watchtracker</h1>
        {{> allButHeadAndFoot}}
        {{> footer}}
    </div>
</body>
<!-- /auth-body.hbs -->