<!-- #body-auth.hbs -->

<body>
    <div class="container-sm mt-3"
         style="padding-left: 7px;padding-right: 7px;">
        {{> navProfile}}
        <div id="mainContent">
            {{> allButHeadAndFoot}}
        </div>
        {{> footer}}
    </div>
</body>
<!-- /body-auth.hbs -->
