<!-- #body-login.hbs -->

<body>
       <div class="container-lg mt-3">
              {{> mainHeading}}
              {{#if errors}}
              {{#each errors}}
              <p>{{this}}</p>
              {{/each}}
              {{/if}}
              <form class="my-5 text-center"
                    hx-post="{{appPath}}/login"
                    hx-target="body">
                     <input type="text"
                            name="user"
                            id="username"
                            placeholder="Username">
                     <input type="password"
                            name="passwd"
                            id="password"
                            placeholder="Password">
                     <input type="submit"
                            class="btn btn-outline-light"
                            value="Login">
              </form>
              {{> footer}}
       </div>
</body>
<!-- /body-login.hbs -->