<!-- #body-auth.hbs -->

<body>
    <div class="container-sm mt-3">
        {{> navProfile}}
        {{> mainHeading}}
        {{> allButHeadAndFoot}}
        {{> footer}}
    </div>
</body>
<!-- /body-auth.hbs -->