<!-- #body-auth.hbs -->

<body>
    <!-- Toast Container -->
    <div class="toast-container position-fixed top-0 start-50 translate-middle-x mt-3" style="z-index: 1100;">
        <div id="errorToast" class="toast align-items-center text-bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body" id="errorToastMessage"></div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <div class="container-sm mt-3"
         style="padding-left: 7px;padding-right: 7px;">
        {{> navProfile}}
        <div id="mainContent">
            {{> allButHeadAndFoot}}
        </div>
        {{> footer}}
    </div>
</body>
<!-- /body-auth.hbs -->
