    <%- include('body-tag') %>
    <%- include('navProfile') %>
    <h1>Watchtracker</h1>

    <%- include('userwatches') %>
    <div id="measurements"></div>
    <!--
        <div id="add-and-delete">
            <button id="addWatch">Add new</button>
        </div>
        -->
    <a id="github" href="https://github.com/georgernstgraf/watchtracker/issues">Create an Issue on Github</a>
    </body>