<div class="alert alert-danger">
    <p>
        <strong>Error:</strong> {{error.message}}
    </p>
    {{#if error.path}}
        <p>
            <small><em>Path: </em>{{error.path}}</small>
        </p>
    {{/if}}
    {{#if error.stack}}
        <pre class="small mt-2" style="max-height: 200px; overflow: auto;">{{error.stack}}</pre>
    {{/if}}
</div>
{{#if errors}}
    {{#each errors}}
        <div class="alert alert-warning">
            {{this}}
        </div>
    {{/each}}
{{/if}}