<!-- #footer -->
<footer class="d-flex flex-row-reverse">
    <a id="github"
       class="link-secondary"
       href="https://github.com/georgernstgraf/watchtracker/issues">Annoyed? Create an Issue on Github!</a>

</footer>
<!-- #/footer -->