<% if ("undefined" !=typeof errors ) { %>
    <% for( let i=0; i < errors.length; i++ ) { %>
        <p class="error">
            <%= errors[i] %>
        </p>
        <% } %>
            <% } %>
                </body>

                </html>