<footer>
    <a id="github" href="https://github.com/georgernstgraf/watchtracker/issues">Create an Issue on Github</a>
    <a href="https://paypal.me/schurlix">Donate schurlix via Paypal</a>
    <img src="<%= process.env.APP_PATH %>/qr_paypal_schurlix.png" alt="scan me!">
</footer>