<footer>
    <a id="github" href="https://github.com/georgernstgraf/watchtracker/issues">Create an Issue on Github</a>
    <a href="https://paypal.me/schurlix">
        <img src="<%= process.env.APP_PATH %>/qr_paypal_schurlix_blk.png" alt="scan me!">
    </a>
    <a href="https://paypal.me/schurlix">Donate .. thanks!</a>
</footer>