<!DOCTYPE html>
<html lang="de">

<head>
    <link rel="stylesheet" href="frontend.css" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <script src="htmx.min.js" type="module"></script>
    <script src="script.js" defer></script>
    <meta charset="utf-8" />
    <title>Watchtracker</title>
</head>

<body>
    <h1>Watchtracker</h1>