<!DOCTYPE html>
<html lang="de">

<head>
    <link rel="stylesheet" href="<%= process.env.APP_PATH %>/frontend.css" />
    <link rel="icon" href="<%= process.env.APP_PATH %>/favicon.ico" type="image/x-icon">
    <script src="<%= process.env.APP_PATH %>/htmx.min.js" type="module"></script>
    <script src="<%= process.env.APP_PATH %>/script.js" defer></script>
    <meta charset="utf-8" />
    <title>Watchtracker</title>
</head>