<!-- start: login-body.hbs -->

<body>
    <div class="container-sm mt-3" style="padding-left: 7px;padding-right: 7px;">
        {{> mainHeading}}
        <div class="row justify-content-center">
            <div class="col-12 col-sm-8 col-md-6 col-lg-4">
                <div class="card border-secondary">
                    <div class="card-body">
                        <form hx-post="{{appPath}}/login" hx-target="body">
                            {{#if errors}}
                            <div class="alert alert-danger py-2">
                                {{#each errors}}
                                <div>{{this}}</div>
                                {{/each}}
                            </div>
                            {{/if}}
                            <div class="mb-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" name="user" id="username" class="form-control" autocomplete="username" placeholder="Username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" name="passwd" id="password" class="form-control" autocomplete="current-password" placeholder="Password" required>
                            </div>
                            <div class="d-grid">
                                <input type="submit" class="btn btn-secondary" value="Login">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        {{> footer}}
    </div>
</body>
<!-- end: login-body.hbs -->