<%- include('head') %>
    <form action="<%= process.env.LOCATION %>/" method="post">
        <input type="text" name="user" id="username" placeholder="Username">
        <input type="password" name="passwd" id="password" placeholder="Password">
        <input type="submit" value="Login">
    </form>
    <%- include('foot') %>