<div id="userWatches">
    <select id="watchSelect" size="<%= userWatches.length %>" hx-get="<%= `${process.env.APP_PATH}/auth/watch/`_%>"
        hx-target="#measurements" hx-vals='js:{id: event.target.value}'>
        <% userWatches.forEach(watch=> { %>
        <option value="<%= watch.id _%>"><%- watch.name _%>
        </option>
        <% }) %>
    </select>
</div>