<div id="userWatches">
    <select id="watchSelect" size="<%= userWatches.length %>">
        <% userWatches.forEach(watch=> { %>
        <option hx-get="<%= `${process.env.APP_PATH}/auth/watch/${watch.id}` %>" hx-target="#measurements"
            value="<%= watch.id %>"> <%= watch.name %>
        </option>
        <% }) %>
    </select>
</div>