:root {
    --background-color: #002b36; /* darkblue, backgroundColor */
    --dirty-color: #ff9055; /* orange, dirtycolor */
    --header-h2-color: #d33682; /* magenta, headerColorMagenta */
    --header-h1-color: #859900; /* green, headerColorGreen*/
    --input-color: #f3d283; /* yellow, inputColor */
    --invalid-color: #ff5555; /* red, invalidColor */
}
body {
    background-color: var(--background-color);
    color: var(--header-h1-color);
    text-align: center;
}

#github,
#watchSelector,
#watchTable {
    display: flex;
    align-items: center;
    justify-content: center;
}
#watchSelect {
    min-width: 5em;
}
#add-and-delete {
    display: flex;
    margin-top: 1em;
}
#github {
    margin-top: 1em;
}
nav {
    display: flex;
    flex-direction: row-reverse;
}
label {
    margin: 0 2.5em;
}
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3em;
}
dialog {
    margin-top: 15vh;
    border-radius: 2em;
    color: var(--input-color);
    background: var(--background-color);
}
#loginFormResult {
    display: contents;
}
dialog::backdrop {
    backdrop-filter: blur(0.5em);
}
div#addWatch {
    margin: 1em auto;
    display: flex;
    margin-bottom: 0;
    justify-content: space-evenly;
}
button,
select,
input {
    margin: 0 1em;
    background-color: var(--background-color);
    color: var(--input-color);
}
input[type='number'] {
    width: 4em;
}
h1,
h2,
th,
td,
thead,
tbody,
tfoot {
    text-align: center;
}
caption {
    color: var(--header-h2-color);
    font-size: large;
    font-weight: bold;
    margin: 1em 0;
    width: fit-content;
}
tfoot::before {
    content: '';
    display: block;
    height: 15px;
}
.sekPerDay {
    font-size: large;
    /* font-weight: bold; */
    /* color: #d33682; */
    color: var(--header-h2-color);
    text-align: left;
}
p.error {
    color: var(--invalid-color);
    font-size: 0.7em;
}
