#watchSelector,
#watchTable {
    display: flex;
    align-items: center;
    justify-content: center;
}
.mycolors {
    color: #d33682; /* magenta, headerColorMagenta */
    color: #f3d283; /* yellow, inputColor */
    color: #859900; /* green, headerColorGreen*/
    color: #ff9055; /* orange, dirtycolor */
    color: #ff5555; /* red, invalidColor */
    color: #002b36; /* darkblue, backgroundColor */
}
label {
    margin: 0 2.5em;
}
div {
    margin: 1em 1em 1em 1em;
}
button,
select,
input {
    margin: 0 1em;
    background-color: #f3d283;
}
h1,
h2,
th,
td,
thead,
tbody,
tfoot {
    text-align: center;
}
table {
    width: 100%;
}
caption {
    color: #859900;
    font-size: large;
    font-weight: bold;
    margin: 1em 0;
}
tfoot::before {
    content: "";
    display: block;
    height: 15px;
}
.sekPerDay {
    font-size: large;
    /* font-weight: bold; */
    /* color: #d33682; */
    color: #859900;
    text-align: left;
}
